.buttonname {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
.btnname{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
}